**/.DS_Store
**/__pycache__
__pycache__
**/.ipynb_checkpoints/*
env
my_config.json
my_config_local.json
my_config_S3.json
my_config_swift.json
my_config.yaml
software_kb.egg-info/
harvester.log

.Python
build/
develop-eggs/
dist/
downloads/
wheels/
*.egg-info/
data
!data/test
